* {
	box-sizing: border-box;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#introduction {
	height: 300dvh;
	overflow-y: auto;
	padding: 0.1em 0.1em 0.1em 0.1em;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.eligibility {
	height: 100dvh;
	font-weight: bold;
	padding: 0.1em 0.1em 0.1em 0.1em;
}