* {
	box-sizing: border-box;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#introduction {
	/* height: 100dvh;
	overflow-y: auto; */
	padding-top: 10dvh;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.eligibility {
	height: 100dvh;
	font-weight: bold;
	padding-top: 10dvh;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
